<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/new">Post a Message</a></li>
            </ul>
        </nav>
        <p>Welcome to <%= title %></p>
        <ul>
            <% for (let message of messages) { %>
            <li>
                <%= message.user %> said <strong><%= message.text %></strong> on
                <%= message.added %>
            </li>
            <% } %>
        </ul>
    </body>
</html>
